<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Delivery Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td class="product-row" appHighlight [canHighlight]="item.outOfStock" [text]="item.name">{{ item.name }}</td>
            <td class="product-row">{{ item.price | nullCheckCurrency: 'INR' }}</td>
            <td class="product-row">{{ item.deliveryDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
    </tbody>
</table>