<table mat-table [dataSource]="materialComponents" matSort class="mat-elevation-z8">

  <!-- Tag Column -->
  <ng-container matColumnDef="tag">
    <th mat-header-cell *matHeaderCellDef> Tag </th>
    <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
  </ng-container>

  <!-- Module Column -->
  <ng-container matColumnDef="module">
    <th mat-header-cell *matHeaderCellDef> Module </th>
    <td mat-cell *matCellDef="let element"> {{element.module}} </td>
  </ng-container>

  <!-- Demo Column -->
  <ng-container matColumnDef="demo">
    <th mat-header-cell *matHeaderCellDef> Demo </th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="element.component">
        <mat-menu *ngSwitchCase="'menu'">
          <button mat-button [matMenuTriggerFor]="menuDemo">Menu</button>
          <mat-menu #menuDemo="matMenu">
            <button mat-menu-item>Option 1</button>
            <button mat-menu-item>Option 2</button>
          </mat-menu>
        </mat-menu>

        <mat-toolbar *ngSwitchCase="'toolbar'">Toolbar</mat-toolbar>

        <mat-sidenav-container *ngSwitchCase="'sidenav'">
          <mat-sidenav mode="side" opened>Side Navigation</mat-sidenav>
          <mat-sidenav-content>Main content</mat-sidenav-content>
        </mat-sidenav-container>

        <div *ngSwitchCase="'dialog'">
          <button mat-button (click)="openDialog()">Open Dialog</button>
        </div>

        <mat-card *ngSwitchCase="'card'">
          <mat-card-header>
            <mat-card-title>Card Title</mat-card-title>
          </mat-card-header>
          <mat-card-content>Card Content</mat-card-content>
        </mat-card>

        <mat-form-field *ngSwitchCase="'form-field'">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'input'">
          <input matInput placeholder="Input field">
        </mat-form-field>

        <button mat-button *ngSwitchCase="'button'">Button</button>

        <mat-checkbox *ngSwitchCase="'checkbox'">Check me!</mat-checkbox>

        <mat-radio-group *ngSwitchCase="'radio'">
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>

        <mat-select *ngSwitchCase="'select'" placeholder="Select an option">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
        </mat-select>

        <!-- <mat-slider *ngSwitchCase="'slider'" min="1" max="100" step="1" value="50"></mat-slider> -->

        <mat-slide-toggle *ngSwitchCase="'slide-toggle'">Slide Toggle</mat-slide-toggle>

        <mat-progress-bar *ngSwitchCase="'progress-bar'" mode="determinate" value="50"></mat-progress-bar>

        <mat-progress-spinner *ngSwitchCase="'progress-spinner'" mode="indeterminate"></mat-progress-spinner>

        <div *ngSwitchCase="'snack-bar'">
          <button mat-button (click)="openSnackBar()">Show Snackbar</button>
        </div>

        <mat-table *ngSwitchCase="'table'" [dataSource]="[]">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['position']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['position']"></tr>
        </mat-table>

        <!-- <mat-sort *ngSwitchCase="'sort'">Sort Control</mat-sort> -->

        <mat-paginator *ngSwitchCase="'paginator'" [pageSize]="10"></mat-paginator>

        <mat-expansion-panel *ngSwitchCase="'expansion'">
          <mat-expansion-panel-header>
            <mat-panel-title>Expansion Panel</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Content goes here.</p>
        </mat-expansion-panel>

        <mat-tree *ngSwitchCase="'tree'" [dataSource]="treeData" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node">
            {{node.name}}
          </mat-tree-node>
        </mat-tree>

        <!-- <mat-chip-list *ngSwitchCase="'chips'">
          <mat-chip>Chip 1</mat-chip>
          <mat-chip>Chip 2</mat-chip>
        </mat-chip-list> -->

        <mat-autocomplete *ngSwitchCase="'autocomplete'" autoActiveFirstOption>
          <mat-option>Option A</mat-option>
          <mat-option>Option B</mat-option>
        </mat-autocomplete>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['tag', 'module', 'demo']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['tag', 'module', 'demo'];"></tr>
</table>
