
<div class="cart-container">
  <div *ngIf="cartItems$ | async as cartItems; else noItems">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img class="cart-item-image" [src]="item.imageUrl" alt="{{ item.name }}">
      <div class="cart-item-details">
        <h2>{{ item.name }}</h2>
        <p class="price">{{ item.price | currency }}</p>
        <p class="quantity">Quantity: {{ item.quantity }}</p>
        <button class="remove-button" (click)="removeFromCart(item.productId)">Remove</button>
      </div>
    </div>
    <div class="total-price">
      <h3>Total Price: {{ totalPrice$ | async | currency }}</h3>
    </div>
  </div>
  <ng-template #noItems>
    <p>No items in the cart.</p>
  </ng-template>
</div>
